.choose {
    padding-top: 141px;
    &__title {
        width: 440px;
        margin: 0 auto;
        color: $title-color;
        font-size: 36px;
        font-weight: 600;
        line-height: 46px;
        text-align: center;
    }
    &__subtitle {
        width: 640px;
        margin: 28px auto 0 auto;
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }
    &__wrapper {
        margin-top: 86px;
        display: grid;
        grid-template-columns: repeat(3, 262px);
        justify-content: center;
        gap: 68px 90px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__slogan {
        margin-top: 26px;
        text-align: center;
    }
    &__desc {
        text-align: center;
    }
}