.download {
    position: relative;
    padding-top: 92px;
    padding-bottom: 105px;
    overflow: hidden;
    &__title {
        color: $title-color;
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        text-align: left;
        z-index: 10;
    }
    &__subtitle {
        width: 635px;
        margin-top: 26px;
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        z-index: 10;
    }
    &__block {
        margin-top: 44px;
        display: flex;
        column-gap: 32px;
        z-index: 10;
    }
    &__picture {
        position: absolute;
        top: -70px;
        right: -210px;
    }
}